---
import { Typst } from "astro-typst/src/components";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Cover from "../components/Cover.astro";
import fs from "node:fs";
import path from "node:path";

export async function getStaticPaths() {
    const posts = import.meta.glob("../pages/posts/*.typ", { eager: true });

    return Object.entries(posts).map(([path, post]: [string, any]) => {
        const slug = path.split("/").pop()?.replace(".typ", "");
        return {
            params: { slug },
            props: { post }, // Pass the post data as props
        };
    });
}

const { slug } = Astro.params;
const { post } = Astro.props;
const { frontmatter } = post;

// Load the .typ file contents
const filePath = path.join(process.cwd(), "src", "pages", "posts", `${slug}.typ`);
const code = fs.readFileSync(filePath, "utf-8");
---

<Layout>
    <Header />
    <div class="cover">
        <Cover src={frontmatter.cover} slug={frontmatter.slug} />
    </div>
    <div class="typst">
        <Typst {code} remPx={10} props={{ width: "100%", height: "auto" }} />
    </div>
</Layout>

<style>
    .cover {
        padding-top: 5vh;
    }
    .typst {
        width: 95vw;
        max-width: 1200px;
        margin: 0 auto;
    }
    /* @media (max-width: 768px) { */
    /* .typst { */
    /* zoom: 0.4; */
    /* } */
    /* } */
    /* @media (min-width: 768px) { */
    /* .typst { */
    /* zoom: 1.1; */
    /* } */
    /* } */
    /* @media (min-width: 1024px) { */
    /* .typst { */
    /* zoom: 1.2; */
    /* } */
    /* } */
</style>

<script>
    document.addEventListener("astro:page-load", () => {
        const path = window.location.pathname;
        if (path !== "/" && path !== "/code" && path !== "/text") {
            window.scrollTo({
                top: 150,
                left: 0,
                behavior: "instant",
            });
        }
    });

    let width = window.innerWidth;
    console.log(`Initial width: ${width}`);

    window.addEventListener("resize", () => {
        width = window.innerWidth;
        console.log(`New width: ${width}`);
    });
</script>
