---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const allBooks = Object.values(
    import.meta.glob("../assets/books/*.md", { eager: true }),
);
---

<Layout>
    <!-- <Header /> -->
    <h1>EXLIBRIS</h1>
    <div class="books">
        {
            allBooks.map((post: any) => (
                <a
                    href={post.frontmatter.link}
                    class="book-link"
                    target="_blank"
                >
                    <div class="book">
                        <div class="book-left">
                            <h2>{post.frontmatter.title}</h2>
                            <p>{post.frontmatter.author}</p>
                            <p>{post.frontmatter.year}</p>
                        </div>
                        <div class="book-right">
                            <Fragment set:html={post.compiledContent()} />
                        </div>
                    </div>
                </a>
            ))
        }
    </div>
</Layout>

<style>
    .books {
        width: 95%;
        margin: 0 auto;
        max-width: 1200px;
    }
    h1 {
        padding: 10vh 0 5vh 0;
    }
    .book {
        display: grid;
        grid-template-columns: 1fr 2fr;
        text-align: justify;
        gap: 1rem;
        margin: 1rem 0;
        padding: 10vh 0;
    }

    .book-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .book-right {
        padding: 0 1rem;
    }

    .book-link {
        text-decoration: none;
        color: inherit;
    }

    @media (max-width: 768px) {
        .book {
            grid-template-columns: 1fr;
            padding: 5vh 0;
        }

        .book-left {
            margin-bottom: 1rem;
        }
    }
</style>
