---
import { formatDate } from "../utils/date";
import { Image } from 'astro:assets';

interface Props {
    frontmatter: {
        slug: string;
        title: string;
        cover: string;
        author?: string;
        date?: string;
    };
    disableHoverEffect?: boolean;
}

const { frontmatter, disableHoverEffect = false } = Astro.props;
---

<div class={`post ${disableHoverEffect ? '' : 'hover-enabled'}`} transition:name={frontmatter.slug}>
<div
  class="cover"
  style={`background-image: url(${frontmatter.cover}); background-size: cover; background-position: center;`}
></div>
    <div class="meta">
        <h2>{frontmatter.title}</h2>
        {frontmatter.author && <span class="author">{frontmatter.author}</span>}
        {
            frontmatter.date && (
            <br/>
                <span class="date"><i>{formatDate(frontmatter.date)}</i></span>
            )
        }
    </div>
</div>

<style define:vars={{ coverImage: frontmatter.cover }}>
h2{
    text-transform: uppercase;
}
.meta {
    width: 100%;
    text-align: center;
}
  .cover {
    background-size: cover;
    background-position: center;
    height: 22vh;
    width: 100%;
  }
@media (prefers-color-scheme: dark) {
    .cover {
      filter: invert(1);
    }
  }
</style>

